*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

.body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #0c182cf2;

}
.minor{
    height:90% ;
    display: flex;
    flex-direction: row;
}

.sidebar{
    width: 15%;

}
.content{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sidebar >  Link {
    text-decoration: none;
}